html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: 'PixelOperator';
    src: url('/pixel_operator/PixelOperator8.ttf') format('truetype');
  }
  
